@import model.SearchForm
@import play.mvc.Http.Request
@(searchForm: Form[SearchForm])(implicit request: Request)

@main("Welcome to Play") {
    <!--  <h1>Welcome to Play!</h1>-->
<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>YT Lytics</title>
            <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
        </head>
        <body>
            <div class="container">
                <h1>Welcome to YT lytics</h1>
                <form>
                    <div class="search-bar">
                        <input type="text" name="query" placeholder="Enter search terms"/>
                        <button type="submit">Go!</button>
                    </div>
                </form>
            </div>

            <div id="resultsContainer">
                <div id="results"></div>
            </div>

            <script>
                    $(document).ready(function () {
                        const socket = new WebSocket("@routes.YouTubeController.ws().webSocketURL(request)");

                        socket.onmessage = function (event) {
                            const response = JSON.parse(event.data);
                            appendMessage(response);
                        };

                        socket.onerror = function (error) {
                            console.error("WebSocket error:", error);
                            alert("WebSocket error occurred.");
                        };

                        socket.onclose = function () {
                            alert("WebSocket connection closed.");
                        };

                        $('form').on('submit', function (event) {
                            event.preventDefault();
                            console.log(event);
                            const query = $('input[name="query"]').val();
                            console.log("query " + query);

                            if (query && socket.readyState === WebSocket.OPEN) {
                                console.log("Sending message");
                                socket.send(query);
                            } else if (socket.readyState !== WebSocket.OPEN) {
                                alert("WebSocket is not connected.");
                            }
                        })

                        const appendMessage = (response) => {
                            let searchGroup = `
                        <div class="result">
                        <div class="search-terms">
                            <p>Search terms: ${response.query} : ${response.sentiment}</p>
                            <p>Flesch-Kincaid Grade Level Avg. = ${response.averageFleschKincaidGradeLevel}, Flesch Reading Ease Score Avg. = ${response.averageFleschReadingScore}</p>
                            <a href="/wordStats/${encodeURIComponent(response.query)}" class="tags-link" target="blank">More Stats</a>
                        </div>
                    `;

                            response.videos.slice(0, 10).forEach(
                                    (video, index) => { // Limit to 10 results
                                        searchGroup += `
                        <div class="video-result">
                            <div class="video-info">
                                <div class="video-text">
                                    <strong>${index + 1}. Title:</strong>
                                    <a href="https://www.youtube.com/watch?v=${video.videoId}" target="_blank">${video.title}</a> |
                                    <strong>Channel:</strong>
                                    <a href="/channel/${video.channelId}" target="_blank">${video.channelTitle}</a> |
                                    <strong>Description:</strong> ${video.description} |
                                    Flesch-Kincaid Grade Level = ${video.fleschKincaidGradeLevel}, Flesch Reading Ease Score = ${video.fleschReadingScore}.
                                    <a href="/ytlytics/video/${encodeURIComponent(video.videoId)}" class="tags-link" target="_blank" >Tags</a>
                                </div>


                                <div class="thumbnail-container">
                                    <img src="${video.imageUrl}" alt="Video Thumbnail" class="thumbnail">
                                </div>

                            </div>
                        </div>
                    `;
                                        searchGroup += `</div>`;

                                    });
                            $('#results').prepend(searchGroup);
                        }
                    })

            </script>
        </body>
    </html>

}
